*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#mainnavbar{
    background-color: #C8C8CA;
    padding: 15px;
    width: 100%;
    position: fixed;
}
#shortnavbar{
    width: 65%;
    margin: 0 auto;
}
#applelogo{
    height: 16px;
    width: 16px;
    position: absolute;
    margin-left: -64px;
    margin-top: -3px;
}
#search{
    height: 16px;
    width: 16px;
    position: absolute;
    margin-left: 880px;
    margin-top: -13px;
}
#bag{
    height: 23px;
    width: 23px;
    position: absolute;
    margin-left: 920px;
    margin-top: -18px;
}
#list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: row wrap;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #282828;
    font-size: 11px;
    margin-left: -35px;
}
#firstsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./Asset/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    color: white;
}
#para1{
    margin-top: 90px;
    font-size: 50px;
    font-weight: bolder;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
#para2{
    font-size: 28px;
    /* font-weight: bold; */
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}