*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#mainnavbar{
    background-color: #424244;
    padding: 15px;
    width: 100%;
    position: fixed;
}
#shortnavbar{
    width: 65%;
    margin: 0 auto;
}
#applelogo{
    height: 16px;
    width: 16px;
    position: absolute;
    margin-left: -64px;
    margin-top: -3px;
}
#search{
    height: 16px;
    width: 16px;
    position: absolute;
    margin-left: 880px;
    margin-top: -13px;
}
#bag{
    height: 23px;
    width: 23px;
    position: absolute;
    margin-left: 920px;
    margin-top: -18px;
}
#list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: row wrap;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #d9d9d9;
    font-size: 11px;
    margin-left: -35px;
}
pic0{
    width: 100%;
    height: fit-content;
}
